@import "../../../scss/mixins.scss";

.fix-line-of-image {
   width: 250px;
   height: 250px;
}

.fix-line-of-description {
   @include sliceByLine(2);
   min-height: 55px;
}

.fix-line-of-title {
   @include sliceByLine(2);
   min-height: 48px;
}
