@import '../../../scss/mixins.scss';


// .fix-line-of-image {
//   @include sliceByLine;
//   min-height: 120px
// }

.fix-line-of-image {
  @include sliceByLine;
  min-height: 210px
}

.fix-line-of-description {
  @include sliceByLine(2);
  min-height: 80px;
}

.fix-line-of-title {
  @include sliceByLine(3);
  min-height: 50px;
}

// .fix-line-of-image {
//   @include sliceByLine;
//   min-height: 150px;
//   min-width: 200px
// }

// .fix-line-of-title {
//   @include sliceByLine(2);
//   min-height: 48px;
// }

